/* * {
    background-color: cyan;
} */
body {
    background-color: #f1faee;
}
/* element selectors extremely common*/
button {
    font-size: 30px;
    background-color: #a8dadc;
}
/* u can use commas to combine selector css*/
h1, h2 {
    color: #1d3557;
}

/* ids in html should only be used once! */
/* # symbol is used for ids */
#signup {
    background-color: #1d3557;
    color: #f1faee;
}

span {
    color: #457b9d;
}

/* . symbol is used for classes*/
.tag {
    background-color: #e63946;
    color: #f1faee;
    font-size: 16px;
}

.post a {
    color: #457b9d;
    text-decoration: none;
}

footer a {
    color: #e63946;
}

h2 + button {
    font-size: 20px;
}

footer > a {
    color: #a8dadc;
}

input[type="password"] {
    color: greenyellow;
}
/* below is harder than it needs to be */
/* section[class="post"] {
    background-color: purple;
} */
/* heres a better version */
/* a[href*="google"]{
    color: magenta;
} */

/* example of css for hovering over a button */
/* button:hover {
    background-color: #e63946;
    color: #f1faee;
} */

/* when hovering over all buttons IN the class 'post' */
.post button:hover {
    background-color: #e63946;
    color: #f1faee;
}

.post a:hover {
    text-decoration: underline;
}

.post button:active {
    background-color: #02c39a;
}

/* make every other object of class 'post' a new color */
.post:nth-of-type(2n){
    background-color: #dfe8dc;

}

/* :: indicates a psuedo element */
h2::first-letter {
    font-size: 50px;
}

p::first-line {
    color: purple;
}

/* p:: does just p, :: does whole doc */
::selection {
    background-color: #fcbf49;
}

p::selection {
    background-color: aqua;
}